$theme-colors: (
  "primary": #0b5cff,
  "secondary": #474750,
  "success": #27874c,
  "info": #ff7a00,
  "warning": #676774,
  "danger": #e02828,
  "light": #d7d7da,
  "dark": #0d2a4c,
);

$enable-grid-classes: true;
$enable-gradients: true;
$enable-rounded: true;
